<!DOCTYPE html>
<html lang="pt_br">

<!--
    HTML - Hyper text markup language (Linguagem de marcação de hiper texto)

    Hyper text (Hiper texto)

    Markup (Marcação de texto)

    Language (Linguagem)


    O HTML segue um fluxo de organização onde todos os elementos ficam um embaixo do outro (exceto quando este elemento já possui a característica em -inline-).
    Assim, para ajustarmos e estilizarmos o texto, utilizamos o CSS. O CSS possui varias configurações que permitem reorganizar esse fluxo e assim deixar o seu HTML personalizado a sua vontade.


    O HTML é muito semântico. Isto é, quanto mais explicado e organizado ele estiver melhor será, tanto para a pessoa que pode vir a dar manutenção no seu código, como para o robo da google, que realiza a indexação.
    Por isso, ao desenvolver seu código HTML, codifique-o de maneira inteligente, utilizando as tag's corretas para cada elemento.


  -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecoleta</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Ubuntu:wght@700&display=swap" rel="stylesheet"> 
    <!-- Essa tag está puxando a formatação da fonte -->


    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/modal.css">
    <!-- Essas tag's estão puxando a estilização  -->

    <link rel="stylesheet" href="/styles/responsive.css">
    <!-- Essa tag está puxando o arquivo que ajusta a responsividade da página -->

</head>

<body>

    <div id="page-home">

        <div class="content">

            <header>
    
                <img src="/assets/logo.svg" alt="Logomarca">
                
                <a href="/create-point">
                    <span></span>
                    Cadastre um ponto de coleta</a>
    
            </header>

            <main>

                <h1>Seu marketplace de coleta de resíduos</h1>
    
                <p>Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.</p>
                
                <a href="#"><span></span><strong>Pesquisar pontos de coleta</strong></a>

            </main>         
            
        </div>
    </div>
    

    <div id="modal" class="hide">
        <div class="content">
            <div class="header">
                <h1>Pontos de Coleta</h1>
                <a href="#">Fechar</a>
            </div>

            <form action="/search-results">
                <label for="search">Cidade</label>
                <div class="search field">

                    <input 
                    type="text" 
                    name="search" 
                    placeholder="Pesquise por Cidade">

                    <button>
                        <img src="/assets/search.svg" alt="Buscar">
                    </button>

                </div>
            </form>
        </div>
    </div>


    <script src="/scripts/index.js"></script>
</body>
</html>